* {
  box-sizing: border-box;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}



nav a:hover {
  background-color: #1762b8;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
ul,
li,
a,
button {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: x-small;
  color: rgb(0, 183, 255);
  border-radius: 20px;

}
main{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}
.container {
  display: grid;
  grid-template-rows: 300px 400px;
  row-gap: 20px;
  position: relative;
  
  top: 10px;
  margin: 0px -20px 0px 30px;
  grid-auto-flow: dense; /* Ensures items fill in empty spaces */
}

.box {
  background-color: rgba(1, 3, 32, 0.932);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(105, 63, 0, 0.938);
}

#upper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 250px;
  column-gap: 20px;
  justify-content: center;
}

.light,
.light1,
.carsal {
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: -10px -10px 10px gray;
}

.carsal {
  transition: width 1.8s ease; /* Add transition for width change */
}

#lower {
  display: grid;
  grid-template-columns: 200px 800px;
  grid-template-rows: 350px;
  column-gap: 20px;
  justify-content: center;
}

.sepratebox {
  background-color: rgba(255, 249, 249, 0.89);
  border-radius: 10px;
  margin: 25px;
  padding: 20px;
  box-shadow: -10px -10px 10px gray;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-rows: auto auto; /* Adjust grid rows for mobile */
  }

  #upper,
  #lower {
    box-sizing: content-box;
    padding: 10px;
    grid-template-columns: 1fr; /* Adjust grid columns for mobile */
  }

  .box {
    width: 80%; /* Adjust width for mobile */
  }
  .carsal{
     box-sizing:content-box;
  }
 
}
.carsal {
  background-color: rgba(221, 218, 218, 0.89);
  border-radius: 10px;
  margin: 35px;
  
  box-shadow: -10px -10px 10px gray;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-control:hover {
  background-color: rgba(255, 255, 255, 1);
}

.carousel-control.prev {
  left: -20px;
}

.carousel-control.next {
  right: -20px;
}
